@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;500&family=IBM+Plex+Sans:wght@100;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px;
}

body {
  background-color: #fafafa;
  margin: 0 auto;
}

/*menu hamburguesa */

header {
  width: 100%;
  height: 50px;
  padding: 10px 5%;
  overflow: hidden;
  border-bottom: 1px solid;
}

header img {
  float: left;
}

header nav {
  float: right;
}

.menu ul {
  position: absolute;
  top: 75px;
  right: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  background: #f2f2f2;
}

.menu li:hover {
  background: #5a5a5a;
}

.menu a {
  padding: 16px 5%;
  line-height: 28px;
  display: block;
}

.menu a:hover {
  color: white;
}

input[type="checkbox"] {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}

.menu span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  position: relative;
  background: #000;
  z-index: 1;
  transform-origin: 3px 0px;
  transition: transform 0.5s ease, opacity 0.55s ease;
}

.menu span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

input[type="checkbox"]:checked ~ ul {
  opacity: 1;
  height: auto;
}

/*movimiento a cruz*/
input[type="checkbox"]:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(2px, 1px);
}

input[type="checkbox"]:checked ~ span:nth-last-child(3) {
  opacity: 0;
}

input[type="checkbox"]:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(1px, 0px);
}

/* fin menu hamburguesa*/

.main-container {
  margin-top: 27px;
  margin-bottom: 27px;
}

.blue-background {
  background-color: #0000ff;
}

/*diagonal*/
.diagonal-two-ways {
  color: white;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 10rem;

  clip-path: polygon(0 3%, 100% 0%, 100% 96%, 0 100%);
}

.diagonal-top {
  color: white;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 10rem;
  background: (#0000ff);
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
}

.world-span {
  text-decoration: line-through;
}

a {
  text-decoration: none;
}

.left-padding {
  padding-left: 13px;
}

p {
  padding-right: 13px;
}

h1,
h2 {
  font-family: "IBM Plex Sans";
  width: 230px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.mono-font {
  font-family: "IBM Plex Mono";
  color: #060a24;
}

.mono-font-medium {
  font-family: "IBM Plex Mono";
  font-weight: 500;
}

.semibold {
  font-family: "IBM Plex Sans";
  font-weight: 600;
}

.white-title {
  color: #ffffffff;
}

.center-text {
  margin: auto;
}

.button {
  width: 288px;
  height: 48px;
  background-color: #00f3bb;
  max-width: 100vw;
  margin: auto;
  margin-bottom: 24px;
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  height: 232px;
  padding-left: 13px;
  padding-right: 13px;
  width: 100%;
  position: relative;
  z-index: 3;
}

img {
  max-width: 100%;

  display: inline-block;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 104px;
  height: 104px;
}

.center-text {
  text-align: center;
}

.phone-img {
  width: 100vw;
  position: relative;
  z-index: 1;
  top: -125px;
  margin-bottom: -75px;
}

.guests-img {
  max-width: 100vw;
}

.icons {
  display: inline-block;
  padding: 20px 20px;
}

/* mediaqueries */

@media screen and (min-width: 1000px) {
  .menu input,
  .menu span {
    display: none;
  }
  .menu ul {
    position: static;
    background: transparent;
    height: auto;
    opacity: 1;
  }
  .menu li {
    padding: 5px 10px;
    display: inline-block;
  }
  .menu li:hover {
    background: transparent;
    border-bottom: 2px solid black;
  }
  .menu a {
    padding: 0;
    line-height: 1;
  }
  .menu a:hover {
    color: inherit;
  }
}

@media (min-width: 1024px) {
  .left-padding {
    padding-left: 200px;
  }

  h1 {
    margin-top: 120px;
    size: 64px;
  }

  h1,
  h2 {
    height: 84px;
    width: 750px;
  }
  h2 {
    margin-top: 64px;
    size: 48px;
  }

  .flex-column-start {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
  }

  iframe {
    flex-basis: 40%;
    padding-bottom: 72px;
    padding-left: 0;
    height: 232px;
    width: 548px;
  }

  .flex-row {
    display: flex;
    flex-flow: row;
  }

  .phone-img {
    padding-left: 200px;
  }

  .flex-guests {
    display: flex;
    flex-flow: wrap;
  }

  .guests-img {
    width: 33.3%;
  }

  .topics-img-first {
    padding-left: 200px;
  }
  .topics-img-rest {
    padding-left: 78px;
  }
  .icons {
    padding: 0px 20px;
  }
  .flex-footer {
    display: flex;
    justify-content: space-between;
  }
}
